<!DOCTYPE html>
<html>
<script src="{{ url_for('static', filename='theme.js') }}"></script>
<img src="{{ url_for('static', filename='logo2.png') }}" alt="VoIPScan Logo">
<head><title>Audit Dashboard</title></head>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<body>
    <div class="container">
    <h1>Audit Records</h1>
    <table border="1">
        <tr><th>ID</th><th>Data</th></tr>
        {% for row in data %}
        <tr>
            <td>{{ row.id }}</td>
            <td>{{ row.data }}</td>
        </tr>
        {% endfor %}
    </table>
    </div>
</body>
</html>
